<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simoes.mario.brsservice">

    <application
        android:allowBackup="true"
        android:description="@string/app_name"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Interface.MainActivityBRS"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Interface.Activity_Orcamento"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Interface.Pesquisar"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Interface.CadastroVeiculos"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Interface.CadastroItem"
            android:theme="@style/AppTheme.Dialog"/>

    </application>

</manifest>